* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

:root {
    --main-color: #e69c9f;
}

html, body {
    height: 100%;
    width: 100%;
}

.mainPage {
    height: 100%;
    width: 100%;
    background-color: #FEBE98;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.letter {
    position: relative;
    height: 90%;
    width: 800px;
    transform: translateX(-25%);
    transition: .5;
}

.left {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    border-radius: 10px;
    transition: .5s;
    padding: 20px;
}

.leftFront {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #cc7723;
    border-radius: inherit;
}

.musicShowcase {
    height: 30%;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #FFE1BD;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 5px 5px 5px gray;
}

.musicShowcase > img {
    height: 90%;
    animation: animateHeadPhone 1s ease-in-out infinite alternate;
}

@keyframes animateHeadPhone {
    to {
        transform: translateY(10px);
    }
}

.musicContent {
    height: fit-content;
    width: 80%;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px 10px;
}

.nameMusic {
    font-size: 30px;
}

.nameMusic .fa-compact-disc {
    font-size: 36px;
    animation: discEffect 1s ease-in-out infinite alternate;
}

.sign {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-top: 10px;
}

.processTrack {
    position: relative;
    height: 14px;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: inset 5px 5px 2px lightgray;
}

.buttonProcess {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
}

.processTimer {
    position: absolute;
    left: 10px;
    bottom: 0;
    transform: translateY(110%);
    font-size: 18px;
    font-weight: bolder;
    color: white;
}

.lengthProcessTimer {
    position: absolute;
    right: 10px;
    bottom: 0;
    transform: translateY(110%);
    font-size: 18px;
    font-weight: bolder;
    color: white;
}

.musicControl {
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 40px !important;
    display: flex;
}

.musicControl .btnControl {
    height: 20px;
    width: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 30px;
    border: none;
    box-shadow: inset 5px 5px 5px gray;
    transition: .5s;
}

.musicControl .btnControl:hover {
    cursor: grab;
    box-shadow: unset;
}

.musicControl .btnControl > i {
    filter: drop-shadow(5px 5px 5px gray);
}

.startBtn {
    margin: 0 50px;
}

.leftBack {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-image: linear-gradient(to right, #CD853F, #cc7723);
    height: 100%;
    width: 100%;
    border-radius: inherit;
    border-right: 10px solid #be660d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letterContent {
    height: 90%;
    width: 90%;
    font-size: 26px;
    line-height: 1.5;
    overflow: auto;
    padding: 10px;
    background-color: #FFFCCF;
    border-radius: inherit;
    font-family: 'Markazi Text', serif;
}

.letterContent::-webkit-scrollbar {
    background-color: whitesmoke;
    width: 10px;
}

.letterContent::-webkit-scrollbar-thumb {
    background-color: #CD853F;
    border-radius: 10px;
}

.right {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(to left, #CD853F, #cc7723);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 10px solid #be660d;
}

.mainRight {
    height: 90%;
    width: 90%;
    background-color: #222222 !important;
    border-radius: inherit;
}

.allbum {
    position: relative;
    height: 200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
}

.detailAllbum {
    height: 100%;
    width: 100%;
    background-color: #FFFCCF;
    border-radius: inherit;
    line-height: 1.5;
    padding: 10px;
    font-size: 24px;
    font-family: 'Markazi Text', serif;
    overflow: auto;
}

.detailAllbum::-webkit-scrollbar {
    background-color: whitesmoke;
    width: 10px;
}

.detailAllbum::-webkit-scrollbar-thumb {
    background-color: #CD853F;
    border-radius: 10px;
}

.lidAllbum {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.lidAllbum > img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: auto;
    transform: rotateY(180deg) translateX(50%);
    border-radius: inherit;
    backface-visibility: hidden;
    box-shadow: 5px 5px 5px gray, -5px -5px 5px white;
}

.outSideAllbum {
    height: 100%;
    width: 100%;
    background-color: #CD853F;
    border-radius: inherit;
    backface-visibility: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 90%, 10% 80%, 10% 20%, 0 10%);
    background-image: url("https://static-00.iconduck.com/assets.00/black-heart-emoji-2048x1802-sccsi239.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
}

/* Letter Active */
.letter.active {
    transform: translateX(0);
    transition: .5s;
}

.letter.active .left{
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    transform-origin: left;
    background-color: red;
    transition: .5s;
}

.letter.active .leftFront {
    backface-visibility: hidden;
}

.letter.active .allbum.active .lidAllbum {
    transform-style: preserve-3d;
    transform: rotateY(180deg) translateX(-10px);
    transform-origin: right;
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19)s;
    transition: 1s;
}

/* KEYFRAMES */
@keyframes discEffect {
    to {
        transform: rotate(180deg);
    }
}
.startForm {
    z-index: 7;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(72, 209, 204, 1);
}

.startLetter {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -90%);
    background-color: white;
    max-height: 500px;
    width: 800px;
    padding: 20px;
    padding-bottom: 80px !important;
    border-radius: 10px;
    transition: .5s;
}

.startLetter.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.contentLetter::-webkit-scrollbar {
    background-color: white;
    width: 4px;
}

.contentLetter::-webkit-scrollbar-thumb {
    background-color: pink;
}

.contentLetter {
    background-color: whitesmoke;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 34px;
    padding: 40px;
    font-family: 'Dancing Script', cursive !important;
}

.myAI {
    position: absolute;
    bottom: 18px;
    right: 4px;
    height: 125px;
    border-radius: 30%;
    border: solid 3px rgba(72, 209, 204, 1);
}

.sticker {
    position: absolute;
    bottom: 0;
    transform: translateY(60%);
    content: "";
    height: 170px;
    width: 40px;
    background-color: pink;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    border-radius: 10px;
    animation: animateStartLetter 1s ease-in-out infinite alternate;
}

.sticker::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 6px rgb(253, 178, 191);
}

.recieve {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    padding: 10px;
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: .5s;
}

.recieve:hover {
    cursor: grab;
    box-shadow: 4px 4px 4px gray;
}

.recieve:active {
    cursor: grabbing;
}

.recieve>i {
    font-size: 30px;
    color: rgb(250, 147, 164);
}

/* ---------------------------------------------------------------- */
.backgroundParty {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(72, 209, 204, 1);
}

.balloon {
    position: absolute;
    bottom: 30px;
    width: 450px;
    animation: animateBalloon 1s ease-in-out infinite alternate;
    z-index: 5;
}

.balloon1 {
    left: 3%;
}

.balloon2 {
    right: 0%;
}

.bannerParty {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20px);
    animation: animateBanner 1s ease-in-out 1s infinite alternate;
    z-index: 5;
}

@keyframes animateBalloon {
    to {
        transform: translateY(-30px);
    }
}

@keyframes animateBanner {
    to {
        transform: translate(-50%, -20px);
    }
}

@keyframes animateBannerMobile {
    to {
        transform: translate(-50%, -40px);
    }
}


.letterForm {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    transition: .5s;
    z-index: 6;
}

.letterForm::before {
    position: absolute;
    background-color: #e69c9f;
    width: 100px;
    height: 100px;
    content: "";
    bottom: 0;
    left: 0;
    clip-path: polygon(0 40%, 50% 0, 100% 40%, 100% 100%, 0 100%);
}

.letterForm::after {
    position: absolute;
    width: 100%;
    background-color: #000;
    content: "";
    height: 10px;
    bottom: -30px;
    opacity: .4;
    filter: blur(10px);
}

.content {
    position: absolute;
    background-color: #F2EEE4;
    width: 80%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -10px);
    height: 80px;
    transition: .5s;
    padding: 20px;
    border-radius: 10px;
    border: solid 6px #A88557;
}

.content > p {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.designBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #d26f72;
    display: block;
    clip-path: polygon(0 0, 50% 35%, 100% 0, 100% 100%, 0 100%);
}

.designBox::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: #bd5559;
    content: "";
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.letterForm:hover .content {
    transform: translate(-50%, -20px);
}

.content.actived {
    bottom: 150px;
    width: 600px;
    height: fit-content;
    max-height: 900px;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
}

/* ---------------------------CONTENT------------------------ */

.img1 {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    border: solid 4px #A88557;
}

.eleActive {
    display: block;
}

.img1>img {
    width: 100%;
}

.close {
    opacity: 0;
    transition: .5s;
}

.mainContent {
    overflow: auto;
    width: 100%;
    font-family: 'Dancing Script', cursive !important;
    font-size: 24px;
}

/* ---------------------------KEYFRAME---------------------- */
@keyframes animateStartLetter {
    from {
        transform: rotate(30deg) translateY(60%);
    }

    to {
        transform: rotate(-30deg) translateY(60%);
    }
}

/* -----------------------------RESPONSIVE---------------------- */
/* Mobile */
@media all and (max-width: 1284px) {
    .startForm {
        width: 100%;
        height: 100%;
        overflow: hidden !important;
    }

    .startLetter {
        width: 90%;
        height: fit-content;
        padding-bottom: 60px !important;
    }

    .contentLetter {
        font-size: 24px;
    }

    .myAI {
        height: 80px;
        bottom: 16px;
        right: 10px;
    }

    .recieve {
        bottom: 10px;
        box-shadow: 4px 4px 4px gray;
    }

    .recieve>i {
        font-size: 24px;
    }
  
    .bannerParty {
        position: absolute;
        top: 100px;
        width: 80%;
        max-width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
        animation: animateBannerMobile 1s ease-in-out 1s infinite alternate;
    }

    .balloon {
        bottom: 50px;
        width: 200px;
    }

    .balloon1 {
        left: 30px;
    }

    .balloon2 {
        right: 30px;
    }

    .content {
        width: 80%;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0px);
        height: 80px;
        transition: .5s;
        padding: 20px;
    }

    .content.actived {
        bottom: 80px;
    }
}

@keyframes moveLight {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(80vh);
    }
}
/* Mobile */
@media all and (max-width: 768px) {
    html, body {
        overflow: auto;
    }

    .mainPage {
        align-items: flex-start;
    }

    .letter {
        width: 100%;
        transform: none;
    }

    .left,
    .right {
        position: relative;
        width: 100%;
        border-radius: 0;
    }

    .leftBack {
        display: none;
    }

    .letterContent {
        font-size: 18px;
    }

    .processTimer,
    .lengthProcessTimer,
    .nameMusic,
    .sign {
        font-size: 16px;
    }

    .musicShowcase {
        height: 20%;
        margin-top: 10px;
    }

    .musicShowcase > img {
        height: 80%;
    }

    .musicControl .btnControl {
        height: 15px;
        width: 15px;
        font-size: 18px;
        padding: 20px;
    }

    .mainRight {
        width: 100%;
    }

    .allbum {
        height: 150px;
        margin-top: 20px;
    }

    .detailAllbum,
    .contentLetter,
    .content {
        font-size: 16px;
    }

    .letterForm,
    .startLetter,
    .backgroundParty {
        width: 100%;
    }

    .bannerParty {
        animation: animateBannerMobile 1s ease-in-out 1s infinite alternate;
    }

    .balloon {
        bottom: 30px;
        width: 150px;
    }

    .content.actived {
        bottom: 120px;
        width: 90%;
    }
}
